version: '3'

services:
  postgres:
    image: postgres:9.6
    volumes:
      - ${VOLUME_ROOT:-.}/volumes/puppetdb-postgres/data:/var/lib/postgresql/data/
      - ./postgres-custom:/docker-entrypoint-initdb.d
